

@model EmailTemplateRender.Views.Emails.RequestEmailViewModel

<table class="mail__content" width="60%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td>Your request rejected</td>
        </tr>
        <tr>
            <td>Type: @Model.Data.RequestType</td>
        </tr>
        <tr>
            <td>Dates: @Model.Data.StartDate - @Model.Data.EndDate</td>
        </tr>
        <tr>
            <td> </td>
        </tr>
        <tr>
            <td>ByWhom: @Model.Data.RejectedBy</td>
        </tr>
        <tr>
            <td>Cause: @Model.Data.RejectComment</td>
        </tr>
        <tr>
            <td> </td>
        </tr>
        <tr>
            <td>YouCanCreateANewRequest</td>
        </tr>
    </tbody>
</table>
